{:paths   ["src"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.10.3"}
           org.clojure/clojurescript           {:mvn/version "1.10.879"}

           ;; Client
           thheller/shadow-cljs                {:mvn/version "2.15.10"}
           diffuse/diffuse                     {:mvn/version "0.0.5"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
           com.lambdaisland/dom-types          {:mvn/version "0.4.34"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/clojure {:mvn/version "1.10.1"}
                                org.clojure/clojurescript {:mvn/version "1.10.879"}

                                lambdaisland/kaocha           {:mvn/version "1.0.902"}
                                lambdaisland/kaocha-cljs      {:mvn/version "1.0.107"}
                                lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}

                                minimallist/minimallist {:mvn/version "0.0.10"}}}

           ;; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.1.0"}}
                      :main-opts  ["-m" "antq.core"]}}}
